header {
  height: 6.8rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  .wrapper {
    padding: 0.5rem 3rem;
    .logo {
      width: 10rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
